connect/Service References/CMWebService/cmbmessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cmb="http://www.ibm.com/xmlns/db2/cm/beans/1.0/schema" xmlns:cm="http://www.ibm.com/xmlns/db2/cm/api/1.0/schema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/xmlns/db2/cm/beans/1.0/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="cmdatamodel.xsd" namespace="http://www.ibm.com/xmlns/db2/cm/api/1.0/schema" />
  <xs:element name="AuthenticationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:ServerDef" />
        <xs:sequence>
          <xs:element minOccurs="0" name="Credential" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="LoginData">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UserID" type="xs:string" />
                <xs:element name="Password" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="connectString" type="xs:string" use="optional" />
      <xs:attribute name="configString" type="xs:string" use="optional" />
      <xs:attribute default="false" name="connectToWorkflow" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestList">
    <xs:sequence maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:AddItemToFolderRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ChangePasswordRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CheckInItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CheckOutItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CreateItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CreateLinkRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:DeleteLinkRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:DeleteItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:GetPrivilegesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListSchemaRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListServersRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:MoveItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RemoveItemFromFolderRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveFolderItemsRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveFoldersForItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RunQueryRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateItemRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateItemXMLRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ContinueProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListActionRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListActionNamesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListNextWorkPackageRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessNamesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkListNamesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkListsRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkNodeRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkNodesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkPackageCheckOutOptionRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkPackagesRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:StartProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ResumeProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:SuspendProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:TerminateProcessRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateWorkPackageRequest" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListPIDtoRecordIDMappingsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplyList">
    <xs:sequence maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:AddItemToFolderReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ChangePasswordReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CheckInItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CheckOutItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CreateItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:CreateLinkReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:DeleteLinkReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:DeleteItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:GetPrivilegesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListSchemaReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListServersReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:MoveItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RemoveItemFromFolderReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveFolderItemsReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveFoldersForItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RetrieveItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RunQueryReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateItemReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateItemXMLReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ContinueProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListActionReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListActionNamesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListNextWorkPackageReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListProcessNamesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkListNamesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkListsReply" />
      <xs:element ref="cmb:ListWorkNodeReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkNodesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkPackageCheckOutOptionReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListWorkPackagesReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:StartProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ResumeProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:SuspendProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:TerminateProcessReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:UpdateWorkPackageReply" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ListPIDtoRecordIDMappingsReply" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Requests" type="cmb:RequestList" />
  <xs:element name="Replies" type="cmb:ReplyList" />
  <xs:element name="BatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:AuthenticationData" />
        <xs:sequence>
          <xs:any xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="1" maxOccurs="unbounded" processContents="skip" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:sequence>
          <xs:any xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="1" maxOccurs="unbounded" processContents="skip" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerDef">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:ServerType" />
        <xs:element name="ServerName" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element default="ICM" name="ServerType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ICM" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ListServersRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:ServerType" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListServersReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ServerDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute default="false" name="all" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSchemaRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:EntityList" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSchemaReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element ref="cmb:EntityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="NewPassword" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunQueryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:QueryCriteria" />
      </xs:sequence>
      <xs:attribute default="NO_MAX" name="maxResults" type="xs:string" use="optional" />
      <xs:attribute default="LATEST_VERSION" name="version" type="xs:string" use="optional" />
      <xs:attribute default="IDONLY" name="retrieveOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IDONLY" />
            <xs:enumeration value="ATTRONLY" />
            <xs:enumeration value="ITEMTREE" />
            <xs:enumeration value="CONTENT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="URL" name="contentOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="URL" />
            <xs:enumeration value="ATTACHMENTS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunQueryReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" name="ResultSet">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:Item" />
            </xs:sequence>
            <xs:attribute default="0" name="count" type="xs:int" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="retrieveOption" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IDONLY" />
            <xs:enumeration value="ATTRONLY" />
            <xs:enumeration value="ITEMTREE" />
            <xs:enumeration value="CONTENT" />
            <xs:enumeration value="CONTENT_WITH_LINKS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="URL" name="contentOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="URL" />
            <xs:enumeration value="ATTACHMENTS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string" use="optional" />
      <xs:attribute default="false" name="checkout" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:Item" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFolderItemsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Folder">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute default="IDONLY" name="retrieveOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IDONLY" />
            <xs:enumeration value="ATTRONLY" />
            <xs:enumeration value="ITEMTREE" />
            <xs:enumeration value="CONTENT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="NO_MAX" name="maxItems" type="xs:string" use="optional" />
      <xs:attribute default="URL" name="contentOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="URL" />
            <xs:enumeration value="ATTACHMENTS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFolderItemsReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:FolderItems" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="cmb:ItemXML" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
      <xs:attribute name="schemaMappingName" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Add">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ItemXML">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any processContents="skip" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="parentURI" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="index" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Notelog">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="index" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="index" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Part">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="attrName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Replace">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence>
                <xs:element minOccurs="0" ref="cmb:ItemXML" />
                <xs:sequence minOccurs="0">
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:Attribute" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildItem">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ItemXML">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:any processContents="skip" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="parentURI" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                  <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                  <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Notelog">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                  <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Part">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" ref="cmb:Attachment" />
                    <xs:element minOccurs="0" ref="cmb:URL" />
                  </xs:sequence>
                  <xs:attribute name="attrName" type="xs:string" use="required" />
                  <xs:attribute name="PID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Delete">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildItem">
                <xs:complexType>
                  <xs:attribute name="URI" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Annotation">
                <xs:complexType>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Content">
                <xs:complexType>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Notelog">
                <xs:complexType>
                  <xs:attribute name="PID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Part">
                <xs:complexType>
                  <xs:attribute name="attrName" type="xs:string" use="required" />
                  <xs:attribute name="PID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
      <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkin" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkout" type="xs:boolean" use="optional" />
      <xs:attribute name="schemaMappingName" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemXMLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:AuthenticationData" />
        <xs:element minOccurs="1" ref="cmb:ItemXML" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="mtomRef" type="cmb:MTOMAttachment" />
      </xs:sequence>
      <xs:attribute default="true" name="deleteUnspecifiedAttrsAndChildren" type="xs:boolean" use="optional" />
      <xs:attribute default="false" name="deleteUnspecifiedParts" type="xs:boolean" use="optional" />
      <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkin" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkout" type="xs:boolean" use="optional" />
      <xs:attribute name="schemaMappingName" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemXMLReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemXML">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="0" processContents="skip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:Item" />
      </xs:sequence>
      <xs:attribute name="returnCode" type="xs:short" use="required" />
      <xs:attribute name="errorMessage" type="xs:string" use="required" />
      <xs:attribute name="stackTrace" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ErrorData" />
      </xs:sequence>
      <xs:attribute default="false" name="success" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" ref="cmb:ItemXML" />
      </xs:sequence>
      <xs:attribute name="URI" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="URL">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="mimetype" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attachment">
    <xs:complexType>
      <xs:attribute name="content-id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QueryString" type="xs:string" />
      </xs:sequence>
      <xs:attribute default="XPATH" name="queryType" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToFolderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Folder">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkout" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkin" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToFolderReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Folder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:Item" />
        <xs:element ref="cmb:FolderItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderItems">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element minOccurs="0" ref="cmb:ItemXML" />
            </xs:sequence>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemFromFolderRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Folder">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute default="false" name="newVersion" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkout" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkin" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemFromFolderReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFoldersForItemRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute default="IDONLY" name="retrieveOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IDONLY" />
            <xs:enumeration value="ITEMTREE" />
            <xs:enumeration value="CONTENT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="URL" name="contentOption" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="URL" />
            <xs:enumeration value="ATTACHMENTS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFoldersForItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element maxOccurs="unbounded" name="Folder">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Value" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="NewValues">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="cmb:ItemXML" />
            </xs:sequence>
            <xs:attribute name="newEntityName" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute default="true" name="checkout" type="xs:boolean" use="optional" />
      <xs:attribute default="true" name="checkin" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveItemReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLinkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="cm:links" />
            </xs:sequence>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLinkReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLinkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="cm:links" />
            </xs:sequence>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLinkReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:Privileges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element name="Item">
          <xs:complexType>
            <xs:attribute name="URI" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Privileges">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Privilege">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="authorized" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="YES" />
                  <xs:enumeration value="NO" />
                  <xs:enumeration value="UNKNOWN" />
                  <xs:enumeration value="" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkPackagesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkListName" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkPackagesReply">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:WorkPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNextWorkPackageRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
        <xs:element ref="cmb:WorkListName" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNextWorkPackageReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:WorkPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkListNamesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkListNamesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:WorkListName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessNamesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessNamesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ProcessName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:ProcessName" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:Process" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcessReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:Process" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkListsRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkListsReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:WorkList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkNodeReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:WorkNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkNodeRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkNodeName" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkNodesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkNodesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:WorkNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkPackageCheckOutOptionRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
        <xs:element name="CheckOutItem">
          <xs:simpleType>
            <xs:restriction base="xs:boolean">
              <xs:pattern value="false" />
              <xs:pattern value="true" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkPackageCheckOutOptionReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:WorkPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActionNamesRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:ActionListName" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActionNamesReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ActionName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActionRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:ActionName" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActionReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" ref="cmb:Action" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:ProcessName" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
        <xs:element minOccurs="0" ref="cmb:Priority" />
        <xs:element ref="cmb:ItemIDURI" />
        <xs:element minOccurs="0" ref="cmb:ContainerData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
        <xs:element name="RouteSelected">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" ref="cmb:ContainerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueProcessReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeProcessRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeProcessReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
        <xs:element minOccurs="0" default="0" name="Duration" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ResumeListDefinition" type="cmb:ResumeListDefinitionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendProcessReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateProcessRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateProcessReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkPackageRequest">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:element ref="cmb:WorkPackageURI" />
        <xs:element minOccurs="0" ref="cmb:ContainerData" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
        <xs:element minOccurs="0" ref="cmb:Priority" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkPackageReply">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:RequestStatus" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:ProcessName" />
        <xs:element minOccurs="0" ref="cmb:Description" />
        <xs:element minOccurs="0" ref="cmb:LongDescription" />
        <xs:element ref="cmb:ACLName" />
        <xs:element minOccurs="0" ref="cmb:Extension" />
        <xs:element minOccurs="0" ref="cmb:Route" />
        <xs:element minOccurs="0" default="0" name="TimeLimit" type="xs:int" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkList">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="cmb:WorkListName" />
        <xs:element ref="cmb:ACLName" />
        <xs:element minOccurs="0" name="SelectionFilterOnNotify">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SelectionFilterOnSuspend">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SelectionFilterOnOwner">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SelectionOrder">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" default="0" name="WorkPackagesToReturn" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" ref="cmb:Description" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkNodeName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkNode">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="cmb:WorkNodeName" />
        <xs:element ref="cmb:ACLName" />
        <xs:element minOccurs="0" default="0" name="TimeLimit" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" default="0" name="OverLoadLimit" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" default="0" name="Type">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="EnterUserDLL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="LeaveUserDLL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="OverLoadUserDLL">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="256" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="EnterUserFunction">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="128" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="LeaveUserFunction">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="128" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="OverLoadUserFunction">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="128" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" ref="cmb:ActionListName" />
        <xs:element minOccurs="0" ref="cmb:Description" />
        <xs:element minOccurs="0" ref="cmb:LongDescription" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionResumeListEntry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FolderItemTypeName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="18" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="RequiredItemTypeName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="18" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element default="0" name="QuantityNeeded" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:ContainerDefinition" />
        <xs:element minOccurs="0" name="WorkNodeExt">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" type="cmb:NameValuePairType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkPackage">
    <xs:complexType>
      <xs:all>
        <xs:element ref="cmb:WorkPackageURI" />
        <xs:element ref="cmb:ItemIDURI" />
        <xs:element minOccurs="0" ref="cmb:Priority" />
        <xs:element minOccurs="0" default="false" name="SuspendState">
          <xs:simpleType>
            <xs:restriction base="xs:boolean">
              <xs:pattern value="false" />
              <xs:pattern value="true" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" default="false" name="NotifyState">
          <xs:simpleType>
            <xs:restriction base="xs:boolean">
              <xs:pattern value="false" />
              <xs:pattern value="true" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="NotifyTime">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ResumeTime">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TimeLastMoved">
          <xs:simpleType>
            <xs:restriction base="xs:string" />
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="UserLastMoved">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WorkNodeName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ProcessCompletionTime" type="xs:string" />
        <xs:element minOccurs="0" ref="cmb:WorkPackageOwner" />
        <xs:element name="ProcessName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ResumeList">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ResumeListDefinition" type="cmb:ResumeListDefinitionType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="cmb:ContainerData" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Priority" type="xs:nonNegativeInteger" />
  <xs:element name="Action">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="AuditComment" type="xs:string" />
        <xs:element minOccurs="0" ref="cmb:Description" />
        <xs:element minOccurs="0" name="Icon" type="xs:string" />
        <xs:element ref="cmb:ActionName" />
        <xs:element minOccurs="0" name="DisplayName" type="xs:string" />
        <xs:element minOccurs="0" name="Shortcut" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" type="xs:string" />
        <xs:element minOccurs="0" name="FunctionName" type="xs:string" />
        <xs:element minOccurs="0" name="DLLName" type="xs:string" />
        <xs:element name="Predefined" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionListName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Extension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" type="cmb:NameValuePairType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NameValuePairType">
    <xs:all>
      <xs:element name="NVPName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NVPValue">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="Owner">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
        <xs:enumeration value="0" />
        <xs:enumeration value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ACLName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Description">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="254" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LongDescription">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2048" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContainerDefinition">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" default="false" name="ReadOnly">
          <xs:simpleType>
            <xs:restriction base="xs:boolean">
              <xs:pattern value="false" />
              <xs:pattern value="true" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" default="false" name="Required" type="xs:boolean" />
        <xs:element default="false" name="ShowToUser">
          <xs:simpleType>
            <xs:restriction base="xs:boolean">
              <xs:pattern value="true" />
              <xs:pattern value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" default="0" name="VariableLength" type="xs:nonNegativeInteger" />
        <xs:element minOccurs="0" default="0" name="VariableType">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:enumeration value="0" />
              <xs:enumeration value="1" />
              <xs:enumeration value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VariableValue">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VariableName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="VariablePrompt">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteDefinition">
    <xs:complexType>
      <xs:all>
        <xs:element name="From">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="To">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RouteSelected">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" ref="cmb:Extension" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" type="cmb:NameValuePairType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResumeListDefinitionType">
    <xs:all>
      <xs:element name="RequiredItemTypeName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="18" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element default="0" name="QuantityNeeded" type="xs:nonNegativeInteger" />
    </xs:all>
  </xs:complexType>
  <xs:element name="WorkPackageURI" type="xs:string" />
  <xs:element name="ItemIDURI" type="xs:string" />
  <xs:element name="Route">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:RouteDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkListName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ProcessName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WorkNodeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="WorkPackageOwner">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ActionName" type="xs:string" />
  <xs:complexType name="MTOMAttachment">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="ID" type="xs:string" />
        <xs:attribute name="MimeType" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="PIDRecordIDPair">
    <xs:complexType>
      <xs:all>
        <xs:element name="PID" type="xs:string" />
        <xs:element minOccurs="0" name="RecordID" type="xs:long" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPIDtoRecordIDMappingsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cmb:AuthenticationData" />
        <xs:sequence>
          <xs:element minOccurs="0" name="PID" type="xs:string" />
          <xs:element minOccurs="0" name="RecordID" type="xs:long" />
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPIDtoRecordIDMappingsReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cmb:RequestStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cmb:PIDRecordIDPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>